extends layout

block main
      
    form.form-horizontal#user_signup
      .form-group
        .middle
          h4 Register Your GitHub
      .form-group
        label.col-md-3.control-label GitHub
        .col-md-9
          .row
            .col-xs-3
              img.pic(src="#{pic}")
            .col-xs-9
              h3.name= name
              .id= github
              .email= email

      .form-group
        label.col-md-3.control-label Uniqname
        .col-md-9
          .input-group
            input.form-control(type='text', name="uniqname", placeholder='uniqname', value="#{uniqname}", required)
            span.input-group-btn
              a.btn(href="#") @umich.edu

      .form-group
        label.col-md-3.control-label Team
        .col-md-9
          .input-group
            
            input.form-control(type='text', name="team_id", placeholder='Paste Key to Join Team', value="#{team_id}")
            span.input-group-btn
              a.btn.new_team(href="#") Or Start New Team
              a.btn.btn-danger.leave_team(href="/quit/#{team_id}", style="display:none") Leave
              a.btn.btn-success.edit_team(href="/team/#{team_id}", style="display:none") Edit Team

        .col-md-offset-3.col-md-9.message

      .form-group
        .col-md-offset-3.col-md-9
          button.btn.btn-primary.btn-block#save(type='submit') Save Changes
          a.btn.btn-danger.btn-block(href="/logout") Logout
